body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
  background-image: url("background.jpeg");
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
 padding: 0;

}

@font-face {
  font-family: 'goth';
  src: url('./ruritania/Ruritania.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.results {  background-image: url("scroll - Edited.png");
            background-size:140%;
            background-position: center;
            width: 400px;
            display: flex;
            text-align: left;
            font-family: "goth";
            font-size: 20px;
            color: black;
            padding: 20px;
        }

        .char {
            
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: top;
            flex-grow: 1;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin-left: 20px;
          
        }

        #char {
            position: absolute;
            z-index: 0;
            x-index: 0;
            top: 0;       /* top of the viewport or parent */
            left: 50%;    /* horizontally centered */
            transform: translateX(-50%);
        }

        #message {
            display: flex;
            justify-content: flex-end;
            font-family: "goth";
            color: beige;
           margin-left: 5px;
            font-size: 35px;
        }

        .scroll {
            position: absolute;
            z-index: 1; 
            background-image: url("scroll - Edited.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 400px;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .choices-container {
            display: flex;
            justify-content: center;
        }

        .choice {
            width: 120px;
            height: auto;
            cursor: pointer;
            user-select: none;
            transition: transform 0.2s;
        }

        .choice:hover {
            transform: scale(1.1);
        }

        .choice:active {
            transform: scale(0.95);
        }